<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if template == 'index' %}
        <title>{{ shop.name }} | {{ page_title }}</title>
    {% elsif template == '404' %}
        <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
        <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}

    {% if page_description %}
        <meta name="description" content="{{ page_description }}" />
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}" />
    
    {{ content_for_header }}

    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
</head>
{% assign show_mood_nav = false %}
{% for link in linklists.moodboard-sub-pages.links %}
    {% if link.active %}
        {% assign show_mood_nav = true %}
    {% endif %}
{% endfor %}
{% if page.handle == 'moodboard' %}
    {% assign show_mood_nav = true %}
{% endif %}

{% assign show_lookbook_nav = false %}
{% for link in linklists.lookbook-sub-pages.links %}
    {% if link.active %}
        {% assign show_lookbook_nav = true %}
    {% endif %}
{% endfor %}
{% if page.handle == 'lookbook' %}
    {% assign show_mood_nav = true %}
{% endif %}

{% assign show_about_nav = false %}
{% for link in linklists.about-sub-pages.links %}
    {% if link.active %}
        {% assign show_about_nav = true %}
    {% endif %}
{% endfor %}
{% if page.handle == 'about' %}
    {% comment %} assign show_about_nav = true {% endcomment %}
{% endif %}

<body class='{% if template == 'index' %}open-main-nav homepage{% endif %}{% if template contains 'collection' or template contains 'product' %}shop-links-open{% endif %}{% if template contains 'customer-care' %}info-links-open{% endif %}{% if template contains 'info' or template contains 'press' or template contains 'about'  or template contains 'moodboard' or template contains 'stockist' or template contains 'contact' or template contains 'lookbook' %}info-links-open{% endif %}{% if show_mood_nav == true %} mood-nav-active{% endif %}{% if show_about_nav == true %} about-nav-active{% endif %}'>
    {% if template != 'index' %}
        <a href="/" class="main-logo"><img src="{{ 'logo.svg' | asset_url }}" id="main-logo" alt="Wbritt logo" /></a>
        <script>
            if (!Modernizr.svg) {
                var img = document.getElementById("main-logo").src="logo.png";
            }
        </script>
    {% else %}
        <a href="/" class="main-logo"><img src="{{ 'logo2.svg' | asset_url }}" id="main-logo" alt="Wbritt logo" /></a>
        <script>
            if (!Modernizr.svg) {
                var img = document.getElementById("main-logo").src="{{ 'logo2.png' | asset_url }}";
            }
        </script>
    {% endif %}
    <div class="cart-container">
        <a href="/cart" class="cart-link ir">Cart</a>
        <a href="/cart" class="cart-count">{{ cart.item_count }}</a>
    </div>
    <a href="#open-main-nav" class="main-nav-btn ir">Open main nav</a>
    <div class="main-nav-container">
        <nav>
            <ul class="main-nav">
                <li class="l-shop-link{% if template contains 'collection' or template contains 'product' %} is-open{% endif %}"><a href="#open-shop-links" class="shop-link-btn ir">Shop</a></li>
                <li class="l-info-link{% if template contains 'info' or template contains 'about' or template contains 'contact' or template contains 'moodboard'  or template contains 'stockist' or template contains 'press' or template contains 'lookbook' %} is-open{% endif %}"><a href="#open-info-links" class="info-link-btn ir">Info</a></li>
                <li class="l-follow-link"><a href="#open-follow-links" class="follow-link-btn ir">Follow</a></li>
            </ul>
        </nav>
        <div class="subnav-con shop-links">
            <ul class="subnav">
            {% for link in linklists.shop.links %}
                <li><a href="{{ link.url }}" {% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li> 
            {% endfor %}
            </ul>
        </div>
        <div class="subnav-con info-links">
            <ul class="subnav">
            {% for link in linklists.info.links %}
                <li><a href="{{ link.url }}" class="{{ link.handle }}{% if link.active %} active{% endif %}">{{ link.title }}</a></li> 
            {% endfor %}
            </ul>
        </div>
        <div class="subnav-con follow-links">
            <ul class="subnav">
                {% for link in linklists.social-media.links %}
                    <li><a href="{{ link.url }}" {% if link.active %} class="active"{% endif %} target="_blank">{{ link.title }}</a></li> 
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="search-container">
        <div class="search-box">
            <form action="/search" method="get" class="search-form" role="search">
            <input type="hidden" name="type" value="product" />
            <label for="search-field" class="visuallyhidden">Search</label>
            <input name="q" type="text" id="search-field" placeholder="Search" autocomplete="off" />
            <input type="submit" id="search-submit" value="Search" class="visuallyhidden" />
        </form>
        </div>
        <a href="#open-search" class="open-search-btn ir">Open search</a>
    </div>
    {% if template contains 'collection' %}
        {% for link in linklists.sub-collections.links %}
            {% if collection.handle == link.handle %}
                <div class="tertiary-subnav-con">
                    <div class="vertical-rail"> </div>
                    <nav>
                        <ul class="tertiary-subnav subnav">
                            {% for link in linklists.sub-collections.links %}
                                <li><a href="{{ link.url }}" {% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if show_mood_nav == true %}
        <div class="tertiary-subnav-con info-tertiary">
            <div class="vertical-rail"> </div>
            <nav>
                <ul class="tertiary-subnav subnav">
                    {% for link in linklists.moodboard-sub-pages.links %}
                        <li><a href="{{ link.url }}" {% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}

    {% if show_about_nav == true %}
        <div class="tertiary-subnav-con info-tertiary">
            <div class="vertical-rail"> </div>
            <nav>
                <ul class="tertiary-subnav subnav">
                    {% for link in linklists.about-sub-pages.links %}
                        <li><a href="{{ link.url }}" {% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}

    {% if show_lookbook_nav == true %}
        <div class="tertiary-subnav-con info-tertiary">
            <div class="vertical-rail"> </div>
            <nav>
                <ul class="tertiary-subnav subnav">
                    {% for link in linklists.lookbook-sub-pages.links %}
                        <li><a href="{{ link.url }}" {% if link.active %} class="active"{% endif %}>{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}

    {% if template contains 'collection' %}
        <div class="container invisible">
    {% elsif template contains 'search' and search.results_count > 0 %}
        <div class="container invisible">
    {% elsif template contains 'product' %}
        <div class="product-page">
    {% else %}
        <div class="wrapper">
    {% endif %}
        {{ content_for_layout }}    
    </div>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ "jquery-1.10.2.min.js" | asset_url }}"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="{{ "jquery-ui-1.10.3.custom.min.js" | asset_url }}"><\/script>')</script>
    {{ 'plugins.js' | asset_url | script_tag }}
    {{ 'handlebars.runtime.js' | asset_url | script_tag }}
    {{ 'handlebars_helpers.js' | asset_url | script_tag }}
    {{ 'product.handlebars.js' | asset_url | script_tag }}
    {% if template contains 'press' %}
        {{ 'enhance.jquery.js' | asset_url | script_tag }}
    {% endif %}
    {{ 'main.js' | asset_url | script_tag }}

    {% if template contains 'product' %}
        {{ 'product.js' | asset_url | script_tag }}
    {% endif  %}
    
    {% if template contains 'lookbook' %}
        {{ 'jquery.royalslider.min.js' | asset_url | script_tag }}
        <script>

        var available_height = $(window).height() - parseInt($('.wrapper').css('margin-top')) - 16, // 16 gives breathing room on bottom
            available_width = 900 / 603 * available_height, // photo width / photo height
            $lookbook = $('.lookbook-section');


            
        $lookbook.css({
            'height' : available_height + 'px',
            'width' : available_width + 'px'
        }).removeClass('invisible');



            jQuery(document).ready(function($) {
                $('.royalSlider').royalSlider({
                    arrowsNav: false,
                    slidesSpacing: 0,
                    usePreloader: false,
                    loop: false,
                    keyboardNavEnabled: true,
                    controlsInside: false,
                    imageScaleMode: 'fill',
                    arrowsNavAutoHide: false,
                    autoScaleSlider: true, 
                    autoScaleSliderWidth: 900,     
                    autoScaleSliderHeight: 603,
                    controlNavigation: 'none',
                    thumbsFitInViewport: false,
                    navigateByClick: false,
                    startSlideId: 0,
                    autoPlay: false,
                    transitionType:'move',
                    globalCaption: false,
                    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
                    imgWidth: 900,
                    imgHeight: 603,
                    imageScalePadding: 0

                });

                var $prev   = $('.product-prev-btn'),
                    $next   = $('.product-next-btn'),
                    $slider = $('.royalSlider').data('royalSlider');

                $prev.on('click', function(e){
                    e.preventDefault();
                    $slider.prev();
                });

                $next.on('click', function(e){
                    e.preventDefault();
                    $slider.next();
                });
;
            });
        </script>
    {% endif %}
    {% if template == 'index' %}
        <script>
            $(window).load(function() {
                (function($, window){

                    var photoRatio = 2000/ 768,
                        sideCrop = 0,
                        imageWidth = 0,
                        slideImage = $('.slide-image'),
                        slideHolder = $('.slide-holder'),
                        winHeight,
                        winWidth,
                        aspectRatio;

                    if (!Modernizr.touch) {
                        scaleLayout();
                    } else {
                        scaleSlides();
                    }

                    $(window).resize(function(){

                        if (!Modernizr.touch) {
                            scaleLayout();
                        } else {
                            scaleSlides();
                        }
                    });

                    function findLayout() {
                        winHeight = $(window).height();
                        winWidth  = $(window).width();
                        aspectRatio = winWidth / winHeight;
                    }

                    function scaleLayout() {
                        var topOffset = 0,
                            activeSlide = $('.flex-active-slide');

                        findLayout();
                        
                        if (aspectRatio > photoRatio) {

                            slideImage.css({
                                'margin-left' : '0',
                                'margin-top' : '-' + topOffset + 'px',
                                'width' : winWidth+'px',
                                'height' : 'auto'
                            });

                        } else {
                            sideCrop = (winHeight *  photoRatio - winWidth) / 2;
                            imageWidth = winHeight * photoRatio;
                            var marginLeft = '-' + sideCrop + 'px';
                            slideImage.css({
                                'margin-left' : '-'+sideCrop+'px',
                                'width' : imageWidth+'px',
                                'height' : winHeight+'px'
                            });

                        }
                    }

                    function scaleSlides () {
                        var topOffset = 0;
                        
                        findLayout();

                        if (aspectRatio > photoRatio) {
                           
                           slideImage.css({
                                'margin-left' : '0',
                                'width' : winWidth+'px',
                                'height' : 'auto',
                                'margin-top' : '-' + topOffset + 'px'
                            });
                        } else {
                            sideCrop = (winHeight * photoRatio - winWidth) / 2;
                            imageWidth = winHeight * photoRatio;
                            slideImage.css({
                                'margin-left' : '-'+sideCrop+'px',
                                'width' : imageWidth+'px',
                                'height' : winHeight+'px'
                            });
                        }

                    }

                })(jQuery, window);

                $('.flexslider').flexslider({
                    controlNav: false,
                    slideshowSpeed: 3000, 
                    directionNav: false 
                });
            });

        </script>
    {% endif %}
</body>
</html>