{% paginate collections.view-all.products by 250 %}
{% for product in collections.view-all.products %}
	{% capture scale_override %} {% endcapture %}
	{% for tag in product.tags %}
		{% if tag contains 'scale' %}
			{% capture scale_override %} data-scale="{{ tag | remove: 'scale-' }}"{% endcapture %}
		{% endif %}
	{% endfor %}
    <div id='elem{{ forloop.index }}' class='element isotope-item' data-index='{{ forloop.index }}' data-category="{{ product.type | handleize }}" data-product="{{ product.handle }}"{{ scale_override }}>
        <img class="{{ product.type | handleize }} collection-view-img" src="{{ product.featured_image | product_img_url: 'large' }}">
        <div class="collection-product-title-price">
			<h2 class="collection-product-title">{{ product.title}}</h2>
			<h3 class="collection-product-price">{{ product.price | money | remove: '.00' }}</h3>
        </div>
    </div>
{% endfor %}
</div>{% comment %} closing out div on template because we add another wrapper here{% endcomment %}
{% endpaginate %}
<div class="homepage-container">
    <div class="flexslider">
        <ul class="slides">
			{% if settings.show_homepage_slide_1 %}
				<li class="slide-holder"><a href="/collections/view-all"><img class="slide-image" src="{{ 'homepage_1.jpg' | asset_url }}" alt=""></a></li>
			{% endif %}
			{% if settings.show_homepage_slide_2 %}
				<li class="slide-holder"><a href="/collections/view-all"><img class="slide-image" src="{{ 'homepage_2.jpg' | asset_url }}" alt=""></a></li>
			{% endif %}
			{% if settings.show_homepage_slide_3 %}
				<li class="slide-holder"><a href="/collections/view-all"><img class="slide-image" src="{{ 'homepage_3.jpg' | asset_url }}" alt=""></a></li>
			{% endif %}
			{% if settings.show_homepage_slide_4 %}
				<li class="slide-holder"><a href="/collections/view-all"><img class="slide-image" src="{{ 'homepage_4.jpg' | asset_url }}" alt=""></a></li>
			{% endif %}
			{% if settings.show_homepage_slide_5 %}
				<li class="slide-holder"><a href="/collections/view-all"><img class="slide-image" src="{{ 'homepage_5.jpg' | asset_url }}" alt=""></a></li>
			{% endif %}
        </ul>
    </div>
{% comment %} no closing div b/c it's closed out on homepage{% endcomment %}